<div class="app-client-navbar"></div>
<section class="vh-100 bg-image"
  style="background-image: url('https://images.unsplash.com/photo-1600494603989-9650cf6ddd3d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80');">
  <div class="mask d-flex align-items-center h-100 gradient-form">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login</h2>
                <form (submit)="login()">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="emailInput">Your Email</label>
                        <input type="email" [(ngModel)]="email" id="emailInput" name="email" class="form-control form-control-lg" />
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="passwordInput">Password</label>
                      <div class="input-group">
                        <input type="{{ passwordVisible ? 'text' : 'password' }}" [(ngModel)]="password" name="password" id="passwordInput" class="form-control form-control-lg" required/>
                        <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
                          <span class="fa fa-eye" [class.fa-eye-slash]="passwordVisible" [class.fa-eye]="!passwordVisible"></span>
                        </button>
                      </div>
                    </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-btn text-body text-white" type="submit" (click)="login()">LOGIN</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Don't already have an account? 
                    <a href="#!" class="fw-bold text-body" [routerLink]="['/register']">
                        <u>Register here</u>
                    </a>
                </p>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>